.section-heading {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 2em;
}

.section {
  text-align: left;
}

.navbar.is-link {
    background-color: #505050;
    color: #fff;
}

.hero.is-link {
    background-color: #505050;
    background-image: url('/static/media/poster.png');
    background-position: center;
    background-repeat: no-repeat;
}
