.section-heading {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 2em;
}

.section {
  text-align: left;
}

.navbar.is-link {
    background-color: #505050;
    color: #fff;
}

.hero.is-link {
    background-color: #505050;
    background-image: url(/img/Rover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
