/* CSS for the viewer */
#show {
	display:none;
	position:absolute;
	top: 10px;
	left: 10px;
}

#info {
	position:absolute;
	top: 5px;
	left: 5px;
}

#plugins {
	display:none;
	position:absolute;
        top: 5px;
        right: 5px;
}

#plus{
	position:absolute;
        top: 5px;
        right: 5px;
}

#hide{
	float:right;
}

.ontop {
        z-index: 40;
        position: fixed;
}
