<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CQParts , pythonic stuff</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- Bulma Version 0.7.2-->
  <link rel="stylesheet" href="/static/css/bulma.css" />
  <link rel="stylesheet" href="/static/css/landing.css" />
  <link rel="stylesheet" href="/static/css/materialdesignicons.min.css" />
  <!-- <link href="https://unpkg.com/bulma-fluent@0.3.13/css/bulma.min.css" rel="stylesheet"> -->
  <script async type="text/javascript" src="/static/js/bulma.js"></script>
</head>

<body>
  <!-- Navigation bar -->
  <nav class="navbar is-link is-fixed-top">

    <div class="navbar-brand">
        <a class="navbar-item" href="#home">
          <span>CQParts</span>
        </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-end">
        {% for key in data.section_order %}
        <a class="navbar-item" href="#{{key}}">
          {% if data.sections[key].icon %}
          <span class="icon"><i class="mdi {{ data.sections[key].icon }}"></i></span>
          {% endif %}
          <span>{{ key |title}} </span>
        </a>
        {% endfor %}
      </div>
    </div>
  </nav>

  <!-- Header -->
  <section class="hero is-link is-fullheight is-fullheight-with-navbar" id="home">
    <div class="hero-body">
      <div class="container">
        <img src="/static/media/dark.svg" alt="{{data.title}}"></img>
        <h2 class="subtitle is-3">
            {{ data.headline }}
        </h2>
      </div>
    </div>
  </section>
{% for key in data.section_order  %}
  <!-- {{ key }}-->
  <section class="section " id="{{key}}">
    <!-- Title -->
    <div class="section-heading">
      <h3 class="title is-2">
      {% if data.sections[key].icon %}
      <span class="icon"><i class="mdi {{ data.sections[key].icon }}"></i></span>
      {% endif %}
      {{ key|title }}</h3>
      <h4 class="subtitle is-6">{{ data.sections[key].sub }}</h4>
      </div>
      <div class="container">
            {{ data.sections[key].data|safe}}
      </div>
  </section>
{% endfor %}
<hr>
  <!-- Footer -->
  <footer class="footer">
    <div class="section-heading">
      <p>
        <strong>CQparts</strong> <a target="_blank" href="https://github.com/cqparts/cqparts">Github</a>
      </p>
    </div>
  </footer>
</body>

</html>
