{% extends "base.html" %}
{% block body %}
  <body style="margin:0;">
        <div id="info" class="box panel">
        <h1 class="title is-4">{{dirs.name}}</h1>
        {% if dirs.parent %}
        <a href="/list{{dirs.parent}}">{{dirs.parent}}</a>
        {% endif %}
	<hr>
	{% for cols in dirs.list|sort|batch(4) %}
	<div class="columns ">
		{% for n in cols %}
		<div class="column is-one-quarter">
			{% if n.leaf %}
				<a href="/show{{n.path}}">
				<div class="box">
				{{n.name}}
				{% if n.image_path %}
				<figure class="image">
				<a href="/show{{n.path}}">
				<img src="{{n.image_path}}">
				</a>
				</figure>
				{% endif %}
				</div>
				</a>
			{% else %}
				<a class="" href="/list{{n.path}}">
					<div class="box content">
						<h2 class="title is-5">{{n.name}}</h2>
					</div>
				</a>
			{% endif %}
		</div>
		{% endfor %}
     	</div>
        {% endfor %}
	</div>
{% endblock %}
