<!DOCTYPE html>
<html>
  <head>
    <title>CQParts display-o-tron</title>
    <link rel="stylesheet" href="/static/css/viewer.css">
    <script src="/static/js/three.min.js"></script>
    <script src="/static/js/OrbitControls.js"></script>
    <script src="/static/js/GLTFLoader.js"></script>
  </head>
  <body style="margin:0; overflow:hidden;">
	  <div id="viewer"></div>
	  <div style="position: absolute">
	{% if item.parent %}
	<a href="/list{{ item.parent }}">{{ item.parent }}</a>
	<hr>
	<h3>{{item.name}}</h3>
	<p>{{item.classname}}</p>
	<p>{{item.doc}}</p>
	{% endif %}
	<form method="post">
	  <input type="hidden" name="classname" value="{{item.classname}}">
	  {% for key, value in item.params.items() %}
	    {{ key }} <input type="text" name="{{ key }}" value="{{ value}}"><br>
	  {% endfor %}
	  <hr>
	  Save
	  <input type="checkbox" name="save">
	  <input type="text">
	  <hr>
	    <input type="submit" value="Submit">
	</form>
	  </div>
    <script src="/static/js/cqpartsViewer.js"></script>
    <script>
      load('/static/cache/{{item.name}}/out.gltf');
    </script>
  </body>
</html>
