<!DOCTYPE html>
<html>
  <head>
    <title>CQParts display-o-tron</title>
    <link rel="stylesheet" href="/static/css/viewer.css">
    <script src="/static/js/three.min.js"></script>
    <script src="/static/js/OrbitControls.js"></script>
    <script src="/static/js/GLTFLoader.js"></script>
  </head>
  <body style="margin:0; overflow:hidden;">
	  <div id="viewer"></div>
	  <div style="position: absolute">
	{% if item.parent %}
	<a href="/list{{ item.parent }}">{{ item.parent }}</a>
	<hr>
	<h3>{{item.name}}</h3>
	<p>{{item.classname}}</p>
	<p>{{item.doc}}</p>
	{% endif %}
	<form id="paramform" method="post"> </form>
	  <input form="paramform" type="hidden" name="classname" value="{{item.classname}}">
	  <table>
	  {% for key, value in item.params.items() %}
	  <tr>
		  <td>{{ key }} </td><td> <input form="paramform" type="text" name="{{ key }}" value="{{ value}}"></td>
	  </tr>
	  {% endfor %}
	  </table>
	  <hr>
	  Save
	  <input form="paramform" type="checkbox" name="save">
	  <input form="paramform" type="text">
	  <hr>
	    <input form="paramform" type="submit" value="Submit">
	  </div>
    <script src="/static/js/cqpartsViewer.js"></script>
    <script>
      load('/static/cache/{{item.name}}/out.gltf');
      camera.position.set({{item.view.camera_pos}});
      controls.target.set({{item.view.camera_target}});
    </script>
  </body>
</html>
