<h3 class="subtitle"> What is cqparts ? </h3>
<div class="section">
Cqparts is CAD for Python programmers, short for <a target="_blank" href="https://github.com/cadquery/cadquery">cadquery</a> parts.
<p> Using cqparts you can wrap geometry made with cadquery to build complex and deeply parametric models.
</div>
<h3 class="subtitle"> What can it do? </h3>
<div class="section">
You can build solid geometry in the same way you write an application; your geometry can be *built* on a headless system, automated, and revision controlled to your hearts content. You can export your models ready to be processed for 3d printing, or milling, or to be displayed / imported to another 3d app.
</div>
