<h3 class="subtitle is-3">What is <code>cqparts</code>?</h3>
<div class="section">
  <p><code>cqparts</code> is CAD for Python programmers, short for "<a target="_blank" href="https://github.com/cadquery/cadquery"><code>cadquery</code></a> parts."</p>
  <p>Using <code>cqparts</code> you can wrap geometry made with <code>cadquery</code> to build complex and deeply parametric models.</p>
</div>

<h3 class="subtitle is-3">What can it do?</h3>
<div class="section">
  <p>You can build solid geometry in the same way you write an application; your geometry can be <i>built</i> on a headless system, automated, and revision controlled to your hearts content.</p>
  <p>You can also export your models ready to be processed for 3D printing, milling, or to be displayed / imported to another application.</p>
</div>
