<h3 class="subtitle is-3">Apache License 2.0</h3>
<div class="section">
  <p>"<i>A permissive license whose main conditions require preservation of copyright and license notices. Contributors provide an express grant of patent rights. Licensed works, modifications, and larger works may be distributed under different terms and without source code.</i>"</p>
</div>
<div class="section">
  <p>Please see the <a href="https://github.com/cqparts/cqparts/blob/master/LICENSE"><code>LICENSE</code></a> file distributed with cqparts for the full license agreement.</p>
</div>
